<ion-app>
  <ion-menu content-id ="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'SideMenu.Title' | translate}}</ion-title>
      </ion-toolbar>
      <ion-content fullscreen = "true">
        <ion-list  scrollable = "false">
          <ion-menu-toggle autoHide ="false">
            <ion-item routerLink = "settings">
              <ion-label>{{'SideMenu.Settings' | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide ="false">
            <ion-item>
              <ion-label>{{'SideMenu.Logout' | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-header>
  </ion-menu>
  <ion-router-outlet id = "main"></ion-router-outlet>
</ion-app>
